.subscript {
    background: transparent;
    padding: 50px 0;
    text-align: center;
}

.subscript__title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 54px;
    list-style: 65px;
    color: var(--primary-black);
}

.subscript__desc {
    font-size: 22px;
    list-style: 34px;
    padding-bottom: 50px;
    color: var(--desc-color);
    opacity: 0.7;
}

.email {
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    list-style: 22px;
    padding: 8px 15px;
    border: 1.5px solid var(--);
    color: var(--primary-black);
    opacity: 0.7;
    border-radius: 15px;
    background: transparent;
}

@media (max-width: 700px) {
    .subscript__title {
        font-size: 36px;
        list-style: 30px;
    }

    .subscript__desc {
        font-size: 18px;
        list-style: 25px;
        padding-bottom: 40px;
    }
}

.light {
    --primaryColar: white;
    --secondaryColar: black;
}